body{
    background-color:darkgrey ;
    display: flex;
    justify-content: center;
    margin: 300px;

}

.color{
    display: flex;
    font-size: 40px;
}
table,th,td{
    border: 1px solid black;
}